:host {
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 16px;
  width: inherit;
  height: inherit;
  background-color: var(--main-green);
  color: var(--main-white);
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1429rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 100ms ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    scale: 0.99;
  }

  &:focus-visible {
    box-shadow: 0px 0px 7px 2px rgb(243, 167, 18, 0.6);
}
}

.green {
  background-color: var(--main-green);
}

.red {
  background-color: var(--main-red);
}
