.total {
  display: flex;
  flex-direction: row;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2857rem;
  font-weight: 300;
}

.text_accent {
  font-weight: 400;
  margin-right: 8px;
}
