:root {
  --main-white: #ffffff;
  --main-gray: #f2f2f2;
  --gray: #686868;
  --main-red: #ff2727;
  --main-light-blue: #c8d8e4;
  --main-green: #52ab98;
  --dark-night: #23282d;
  --light-blue: #f6f5ff;
}
